<%= render 'shared/navbar_home'%>

<div class="container">
   <div class="block lg:mt-48 mt-32">

    <div class="lg:pt-20 pt-10 pl-20 pr-20 text-black rounded-lg lg:mr-1 pb-4 mb-2 bg-creme-card">
      <%= render partial: 'shared/modif-info' %>
    </div>

    <div class="edit lg:pt-10 pt-10 pl-10 pb-10 pr-10 lg:w-1/2 text-black rounded-lg pb-4 mb-5 bg-navy-card">
      <%= render 'shared/cancel-acc' %>
    </div>

   </div>
</div>

