<%= render 'shared/navbar_home' %>

<div class="container">
   <div class="block lg:flex mt-24 justify-content-center">

    <div class="lg:w-1/2 p-5 rounded-lg lg:ml-1 bg-navy-card">
      <%= render partial: 'shared/signup' %>
    </div>

  </div>
</div>
