.box_client_infos {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border: 4px solid $salmon;
  background: $smooth-gray;
  color: black;
  border-radius: 5px;
}


.display-box-seller-user {
  display: flex;
}
