
.banner-show{
  background-size: cover;
  width: 92vw;
  height: 100vh;
}



.principal-presentation-card {
  padding-top: 150px;
  margin-left: 990px;
  width: 650px;
  color: $white-cream;
  padding-left: 55px;
}


.long-card {
  border: solid 2px $salmon;
  border-radius: 5px;
  background-color: #D9D9D9;
  color: black;
  padding: 10px;
}


h3 {
  color: $white-cream;
  margin-bottom: 15px;
}

#book {
  width: 100%;
  background-color: $salmon;
  color: $white-cream;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;

}

.form-book-show {
  // background-color: $smooth-gray;
  border: 2px solid $salmon;
  color: $white-cream;
  border-radius: 5px;
  padding: 5px;
}

