
.banner-show{
  background-size: cover;
  width: 80vw;
  height: 100vh;
}



.principal-presentation-card {
  padding-top: 180px;
  margin-left: 900px;
  width: 450px;
  color: #F0F0F0;
}


.long-card {
  border: solid 2px #FF6856;
  border-radius: 5px;
  background-color: #D9D9D9;
  color: black;
  padding: 10px;
}


h3 {
  color: #F0F0F0;
  margin-bottom: 15px;
}


