
  <%= link_to request.referer do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>


<!--<div class="arrow-back">
      <%#= render partial: 'shared/arrow-back', locals: {
        path: new_user_registration_path
      } %>
    </div> -->
