<div class="footer align-items-center">
  <div class="footer-copyright">
    <h3>SUIVEZ-NOUS</h3>
  </div>
  <div class="footer-links d-flex justify-content-center">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>



