<div class="d-flex">
  <% if experience.average_rating != nil %>
    <% n = experience.average_rating.truncate() %>
    <% n.times do %>
      <div><p><i class="fas fa-star"></i></p></div>
    <% end %>
    <% (5-n).times do %>
      <div><p><i class="far fa-star"></i></p></div>
    <% end %>
  <% end %>
</div>
