<%= render 'shared/navbar_home' %>

<div class="container">
   <div class="block lg:flex lg:mt-32 mt-24">

    <div class="lg:w-1/2 lg:pt-40 pt-10 pl-20 pr-20 text-black rounded-lg lg:mr-1 bg-creme-card">
      <%= render partial: 'shared/signin' %>
    </div>

    <div class="lg:w-1/2 p-5 rounded-lg lg:ml-1 bg-navy-card">
      <%= render partial: 'shared/signup' %>
    </div>

  </div>
</div>
