.card-homepage {

  margin:0 20px;
  width: 850px;
  height: 450px;
  background-position: center;

  border-radius: 5px;
  box-shadow: 1px 4px 10px black;

  opacity: 0.9;


  &:hover {
  opacity: 1;

  }
}

.card-hp-content {
  width: 100%;
  background: rgba(217,217,217, 0.4);

  h4 {

    font-size: 35px;
    color: $white-cream;
  }

  p {
    font-size: 20px;
    color: $white-cream;

  }


}
