.card-homepage {

  margin:0 20px;
  margin-bottom: 20px;
  width: 850px;
  height: 450px;
  background-position: center;
  background-size:100% auto;
  border-radius: 5px;
  box-shadow: 10px 10px 20px black;
  opacity: 0.9;


  &:hover {
  opacity: 1;

  }
}

.card-hp-content {
  width: 100%;
  background: rgba(2,49,72, 0.3);

  h4 {

    font-size: 35px;
    color: $white-cream;
  }

  p {
    font-size: 20px;
    color: $white-cream;

  }


}
