.navbar-transparent {
  padding: 20px;
  background: transparent;

  h3 {
    margin: 0;
    padding: 0px 7px;
    color: black;
  }

}

.navbar-white {
  padding: 20px;
  background: white;

  h3 {
    margin: 0;
    padding: 0px 7px;
    color: black;
  }
}
