.navbar-transparent {
  margin: 0px;
  padding: 20px;
  background: transparent;

  h3 {
    margin: 0;
    padding: 0px 7px;
    color: black;
  }

}

.navbar-blue {
  margin: 0px 0px;
  padding: 20px;
  background: $navy-blue;
  box-shadow: 1px 4px 10px black;

  h3 {
    margin: 0;
    padding: 0px 7px;
    color: $white-cream;
  }
}
