<%= render 'shared/navbar' %>
<div class="container">
   <div class="block lg:flex justify-around lg:mt-64 mt-24">

    <div class="lg:pt-24 lg:pb-16 pt-10 pl-20 pr-20 text-black rounded-lg lg:mr-1 bg-creme-card">
      <%= render 'shared/new-review' %>
    </div>
  </div>
</div>
